html {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
    font-family: 'pretendoregular';
    src: url(pretendo.woff) format('woff2'),
         url(pretendo.woff2) format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    height: 1000px;
    width: 1000px;
    margin: 0 0 0 0;
    display: flex;
}

.carcasa {
    margin: auto;
    height: 900px;
    width: 515px;
    background: #2192dd;
    border-top-right-radius: 3%;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border:black solid 1px
}

.marco {
    margin: 40px 25px 0px 25px;
    height: 410px;
    width: 465px;
    background: rgb(22, 22, 22);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border:black inset 1px;
    display: flex;
}

.pantalla {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 320px;
    width: 330px;
    margin: 30px auto auto auto; ;
    background: grey;
    border:black solid 1px;
}

.color {
    position: absolute;
    top: 450px;
    left: 376px;
    font-size: 2em;
    color: grey;
    font-style: italic;
}

.c {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: absolute;
    color: #830f2e;
    top: 445px;
    left: 530px;
    font-size: 2em;
    font-weight: bold;
}

.o {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: absolute;
    color: #3d3d83;
    top: 445px;
    left: 552px;
    font-size: 2em;
    font-weight: bold;
}

.l {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: absolute;
    color:#599c21;
    top: 445px;
    left: 576px;
    font-size: 2em;
    font-weight: bold;
}

.oo {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: absolute;
    color: #9b752f;
    top: 445px;
    left: 595px;
    font-size: 2em;
    font-weight: bold;
}

.r {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    position: absolute;
    color:#08507e;
    top: 445px;
    left: 620px;
    font-size: 2em;
    font-weight: bold;
}

.led::before {
    content:"";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: tomato;
    position: absolute;
    top: 250px;
    left: 297px;
}

.led::after {
    content: "POWER";
    color: grey;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 270px;
    left: 272px;
}

.nintendo {
    font-family:pretendoregular;
    font-size: 25px;
    width: 160px;
    text-align: center;
    border: #0a466e solid 3px;
    border-radius: 20px;
    position: relative;
    color: #0a466e;
    left:180px;
    top:10px;
}

.botones {
    height: 300px;
}

.ph{
    height: 40px;
    width: 150px;
    position: absolute;
    top: 640px;
    left: 299px;
    background: rgb(49, 49, 49);
    box-shadow: black 2px 2px;
}

.pv{
    height: 150px;
    width: 40px;
    position: absolute;
    top: 585px;
    left: 355px;
    background: rgb(49, 49, 49);
    box-shadow: black 0px 2px;
}

.ab {
    height: 180px;
    width: 180px;
    position: absolute;
    top: 600px;
    left: 520px;
}

.ab::before {
    content: "";
    position: absolute;
    left: 120px;
    height: 60px;
    width: 60px;
    border: black solid 1px;
    border-radius: 50%;
    background: rgb(49, 49, 49);
    box-shadow: black 2px 2px;
}

.ab::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 30px;
    height: 60px;
    width: 60px;
    border: black solid 1px;
    border-radius: 50%;
    background: rgb(49, 49, 49);
    box-shadow: black 2px 2px;
}

.bot {
    height: 140px;
    display: flex;
}

.ss {
    height: 100px;
    width: 100px;
    position: relative;
    left: 210px;
}

.bot::before{
    content: "";
    height: 20px;
    width: 50px;
    border-radius: 30px;
    background: rgb(49, 49, 49);
    border: black solid 1px;
    position: relative;
    left: 200px;
}

.bot::after{
    content: "";
    height: 20px;
    width: 50px;
    border-radius: 30px;
    background: rgb(49, 49, 49);
    border: black solid 1px;
    position: relative;
    left: 110px;
}

.altavoz {
    position: absolute;
    text-align: center;
    font-size: 1.2em ;
    font-weight: bold;
    left:610px;
    top:820px;
    line-height: 12px;
    text-shadow: 1px 1px 0px #0a466e;
}
